.woocommerce-tabs .woocommerce-Tabs-panel {
    max-width: none;
}

.woocommerce-tabs .woocommerce-Tabs-panel p {
    text-align: center!important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: unset;
    margin-top: 40px;
}

.row.flex-col {
    flex-direction: column;
}

.row .col {
    display: flex;
    flex-direction: column;
}

.row .col img {
    width: 100%;
    max-width: 420px;
    height: auto;
}

.sizechart th {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
    font-weight: 700;
}
.sizechart th,
.sizechart td {
    font-size: 12px;
}

#tab-title-additional_information {
    display: none;
}