<div class="accordion-list" id="questions">
    <div class="accordion-item active">
        <div class="accordion-head active">
           <h5>
                Who to contact in case of questions, returns, faulty items, sizing, cancellations, logistical, shop related questions?
           </h5>
           <div class="icon active">
              <i class="fa-solid fa-minus"></i>
           </div>
        </div>
        <div class="accordion-body active">
            <p>
                Please contact the Sunday customer service team by sending a mail to shop-support@wardrobe.teamsunday.com
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                How to place an order?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                Select the item you want, don’t forget to select your gender, change your desired quantity to 1 and click “add to cart”. Go to checkout and fill in the required information. On the right, you will see the total value of your order. You will not be charged to place your order.
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                Is there a purchase limit?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                How does the sizing work?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                What if my size could not be calculated?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                If your size is outside our measurement chart, please select the 'other' size and fill in your chest measurement during checkout.
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                What if I need (more) items for a fair?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                When will I receive new coins?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                Where can I see my account balance?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                Can I order clothes for people other than me?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                xx
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-head">
           <h5>
                How will I get my clothes?
           </h5>
           <div class="icon">
              <i class="fa-solid fa-plus"></i>
           </div>
        </div>
        <div class="accordion-body">
            <p>
                xxx
            </p>
        </div>
    </div>
</div>