@import url('https://fonts.cdnfonts.com/css/poppins');             
                
:root {
    --primary: #cd0300;
    --white: #ffffff;
    --black: #000000;
    --fontFamily: 'Poppins', sans-serif;
    --transition: all .25s ease-in-out
}

* {
    font-family: var(--fontFamily);
}

p,
ul,
ol {
	font-size: 16px;
}

h1,
h2,
h3 {
    font-family: var(--fontFamily);
    font-weight: 700;
}

a,
li,
p {
    font-family: var(--fontFamily);
}

li::marker {
	color: var(--primary);
}

a:hover,
.product-loop-meta .button:hover {
	color: var(--primary);
}

.site-content .animated-meta .price, .product-summary .price {
    display: flex;
	justify-content: flex-start;
}

.animated-meta .price {
	visibility: hidden;
}

.product-loop-meta {
    overflow: unset;
}

.site-content .animated-meta .price {
    display: none;
}

.products .product:hover .product-loop-meta:not(.no-transform) .animated-meta {
    transform: unset;
}



.woocommerce-checkout-review-order-table .cart-subtotal,
.woocommerce-checkout-review-order-table .order-total,
#tab-title-additional_information,
.product-nav-item-inner .product-nav-item-price,
.cart_item .product-total,
table .product-total,
.site-tools .tools-icon.header-search-icon,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address,
.u-column1.col-1.woocommerce-Address,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address,
table .product-price,
table .product-subtotal,
#secondary,
.product-summary .price,
.woocommerce-mini-cart__total.total,
.mini-cart-product-price,
.woocommerce-additional-fields,
.single_variation,
.reset_variations,
.sku_wrapper,
.woostify-single-product-stock.stock,
.site-footer,
.woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}

.animated-meta .price,
.product-summary .price {
	display: none;
	gap: 5px;
}

/* HEADER */
.topbar {
	font-weight: 700;
	padding: 10px;
	background-color: var(--primary);
}

#masthead {
    background-color: var(--wite);
    padding: 10px 0;
}

#masthead .site-header-inner {
    background-color: transparent;
    border-bottom: none;
}

#masthead .custom-logo {
    width: 100%;
    max-width: 200px;
}

.primary-navigation li > a {
	font-size: 16px;
}

.primary-navigation li > a,
.primary-navigation li.current-menu-item > a,
.primary-navigation > li.current-menu-parent > a {
    color: var(--primary);
    font-weight: 700;
}

.site-tools .tools-icon:hover .woostify-svg-icon,
.site-tools .tools-icon .woostify-svg-icon,
.woocommerce-mini-cart__total .amount,
.primary-navigation a:hover {
    color: var(--primary);
}

.shop-cart-count {
    background-color: var(--primary);
    color: var(--white);
}

.cart-sidebar-head .shop-cart-count,
.shop-cart-count {
    background-color: var(--primary);
}

/* BUTTONS */
.elementor-1067 .elementor-element.elementor-element-fc2e6e5 .elementor-button {
    box-shadow: none!important;
}

.elementor-section .elementor-container .elementor-element .elementor-button,
.button, 
.woocommerce-widget-layeprimary-nav-dropdown__submit, 
.form-submit .submit, 
.elementor-button-wrapper .elementor-button, 
.has-woostify-contact-form input[type="submit"], 
#secondary .widget a.button, 
.product-loop-meta.no-transform .button, 
.product-loop-meta.no-transform .added_to_cart, 
[class*="elementor-kit"] .checkout-button,
.woocommerce-cart-form__contents:not(.elementor-menu-cart__products) .actions .coupon [name="apply_coupon"] {
    background-color: var(--primary);
    font-weight: 500;   
}

.elementor-section .elementor-container .elementor-element .elementor-button:hover {
    background-color: var(--primary);
}

.shop_table .woocommerce-Price-amount {
    color: var(--primary)!important;
}

.single_add_to_cart_button.button:not(.woostify-buy-now),
.button:hover, .single_add_to_cart_button.button:not(.woostify-buy-now):hover {
    background-color: var(--primary);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    box-shadow: none!important;
    border: 1px solid var(--black);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
    border: 2px solid var(--primary);
}

.woocommerce-tabs .woocommerce-Tabs-panel p:last-child {
    text-align: center!important;
}

/* CHECKOUT */
.woocommerce-thankyou-order-received {
    border-color: var(--primary);
    color: var(--primary);
}

#scroll-to-top {
    background-color: var(--primary)!important;
}

.woocommerce-info {
    background-color: red;
}

.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
    opacity: 0;
}

.woocommerce-notice.woocommerce-notice--info.woocommerce-info.active {
    opacity: 1;
}

.has-sidebar:not(.offcanvas-sidebar) #primary {
    width: 100%;
}

.cart-sidebar-content .woocommerce-mini-cart__buttons a.checkout,
.woocommerce-cart-form__contents:not(.elementor-menu-cart__products) .actions .coupon [name="apply_coupon"],
[class*="elementor-kit"] .checkout-button,
.woocommerce-cart-form__contents:not(.elementor-menu-cart__products) .actions .coupon + [name="update_cart"] {
    border-radius: 9px;
}
 
.woocommerce-form-coupon-toggle {
    background-color: #3F84C5;
    padding: 10px 20px;
    color: var(--white);
    border-radius: 9px;
}

.woocommerce-form-coupon-toggle .showcoupon {
    color: var(--white)!important;
    transition: var(--transition);
}

.woocommerce-form-coupon-toggle .showcoupon:hover {
    text-decoration: underline;
    transition: var(--transition);
}