.faq .accordion-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .faq .accordion-list .accordion-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    border-radius: 12px;
  }
  
  .faq .accordion-list .accordion-item:hover {
    cursor: pointer;
  }
  
  .faq .accordion-list .accordion-item .accordion-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--black);
    padding-bottom: 15px;
  }
  
  .faq .accordion-list .accordion-item .accordion-head.active {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  .faq .accordion-list .accordion-item .accordion-head h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    opacity: 1;
    transition: var(--transition);
  }
  
  .faq .accordion-list .accordion-item .accordion-head.active h5 {
    color: var(--primary);
    transition: var(--transition);
  }
  
  .faq .accordion-list .accordion-item .accordion-head .icon {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .faq .accordion-list .accordion-item .accordion-head .icon:hover {
    cursor: pointer;
  }
  
  .faq .accordion-list .accordion-item .accordion-head .icon.active {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
  
  .faq .accordion-list .accordion-item .accordion-head .icon .fa-minus {
    transform: rotate(90deg);
  }
  
  .faq .accordion-list .accordion-item .accordion-body {
    display: none;
  }
  
  .faq .accordion-list .accordion-item .accordion-body.active {
    display: block;
  }
  
  .faq .accordion-list .accordion-item .accordion-body p {
    font-size: 16px;
    margin-top: 20px;
    color: var(--black);
    text-align: left;
    opacity: 0.5;
  }
  
  @media (max-width: 560px) {
    .faq .wrapper {
      width: 100%;
    }
  }