:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--primary-color: #D9BA5E;
	--purple-color: #14142A;
	--gold-color: #FAA61A;
	--green-color: #4CAF50;
	--header-color: #45283B;
	--wd-arrow-bg-hover: #D9BA5E;
	--border-radius-custom: 10px;
	--transition: all .25s ease-in-out;
}

header .wd-nav[class*=wd-style-] > li > .woodmart-nav-link {
	color: var(--primary-color);
}

.newsletter-form .wpcf7-submit {
	color: var(--white-color);
	background-color: var(--primary-color);
	border-radius: var(--border-radius-custom);
}

.rating .fa-star {
	color: var(--gold-color);
}

.check .fa-circle-check,
.check {
	color: var(--green-color);
}

.elementor-element .atc-price .price .amount,
.elementor-element .atc-price .price p,
.woocommerce-variation-price .price .amount,
.woocommerce-variation-price .price p {
	font-size: 24px;
}

.list-checks {
	list-style: none;
	padding-inline-start: 0;
}

.list-checks .fa-circle-check {
	color: var(--primary-color);
}

.fa-fire {
	color: var(--primary-color);
}

img.payment-method {
	width: 250px;
	height: auto;
}

.flexbox {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-content: center;
}

.flexbox .item {
	display: flex;
	flex: unset;
	gap: 5px;
}

.flexbox .item p {
	margin-bottom: 0;
}

.wd-tools-element > a {
	color: var(--primary-color);
}

.site-content {
	padding: 0;
}

.whb-color-dark:not(.whb-with-bg) {
	background-color: transparent;
}

.whb-sticky-shadow.whb-sticked .whb-main-header {
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
}

.inline-form form {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.inline-form form p {
	margin-bottom: 0;
}

.inline-form form input[type="submit"] {
	color: var(--white-color);
	background-color: var(--primary-color);
	border-radius: 10px;
}

.wd-posts {
	width: 80%;
	margin: 0 auto;
	padding: 30px;
}

.single-post .main-page-wrapper {
	width: 80%;
	margin: 0 auto;
}

.wd-tools-element:hover > a {
	color: var(--primary-color);
}

.product-wrapper .product-element .wd-fill {
	background-color: var(--purple-color);
	border-radius: 10px;
}

.wd-carousel-wrap .wd-product .product-wrapper .product-element .wd-fill .wd-add-btn .add_to_cart_button {
	background-color: var(--primary-color)!important;
	border-color: var(--primary-color)!important;
	border-radius: 10px;
}

.contact-form-wrapper ._form-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.contact-form-wrapper.flex-col ._form-content {
	flex-direction: column;
	align-items: flex-start;
}

.contact-form-wrapper ._form-content ._submit {
	color: var(--white-color);
	background-color: var(--primary-color);
	border-radius: 10px;
}

.contact-form-wrapper ._form-content ._form_element {
	width: 100%;
}

.main-page-wrapper .site-content {
	margin-bottom: 0;
}

.reviews-wrapper .elementor-main-swiper .swiper-slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.reviews-wrapper .elementor-testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header .searchform input[type="text"] {
	border-radius: 10px;
	border: 1px solid var(--black-color);
	opacity: 0.6;
	transition: var(--transition);
}

header .searchform input[type="text"]:focus {
	border: 1px solid var(--primary-color);
	opacity: 1;
	transition: var(--transition);
}

footer .footer-wrapper p {
	font-size: 14px;
}

footer .footer-wrapper .nav-link-text {
	font-weight: 400;
}

.elementor .elementor-element .elementor-button {
	border-radius: var(--border-radius-custom)!important;
}

form.cart:where(.single_add_to_cart_button,
.wd-buy-now-btn,
.quantity) {
	flex: 1 0;
}

form.cart .quantity {
	justify-content: flex-end;
}

.product-type-variable .atc-price {
	display: none;
}

.woocommerce-order-details.woocommerce-info.mollie-instructions {
	background-color: var(--green-color);
}

.wd-shop-product {
	padding-bottom: 30px;
}

.woocommerce-breadcrumb a,
.woocommerce-breadcrumb p,
.woocommerce-breadcrumb span {
	color: var(--primary-color);
}

.elementor-widget-wd_shop_archive_woocommerce_title h1 {
	color: var(--primary-color);
}

.wd-tools-element > a {
	color: var(--primary-color);
}

.wd-nav-pagin-wrap[class*="wd-style-shape"] li.wd-active span {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.wd-nav-pagin-wrap[class*="wd-style-shape"] li:not(.wd-active):hover span {
	border-color: unset;
}

.wd-nav-arrows .wd-arrow-inner:hover {
	background: var(--primary-color);
}

.wd-tools-element {
	color: var(--primary-color);
}

.wd-tools-element > a {
	color: var(--primary-color)!important;
}

.elementor-element h1,
.elementor-element h2,
.elementor-element h3,
.elementor-element h4,
.elementor-element .button {
	text-transform: none!important;
}

@media (max-width: 560px) {
	.product-wrapper .product-element .wd-fill {
		background-color: unset;
		border-radius: 0;
	}

	.wd-posts {
		width: 100%;
		margin: 0 auto;
		padding: 30px;
	}
	
	.home-blogs-wrapper .wd-posts,
	.home-blogs-wrapper .main-page-wrapper {
		padding: 0;
	}

	.single-post .main-page-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 30px;
	}

	.quick-shop-form .woocommerce-Price-amount.amount {
		font-size: 14px;
	}

	.quick-shop-form .stock {
		font-size: 12px;
	}

	.quick-shop-form .variations .label.cell {
		display: none;
	}

	.footer-body-text p,
	.footer-body-text span {
		font-size: 14px;
		opacity: 1;
		line-height: unset;
	}

}